@import 'src/theme/theme-variables';
@import 'src/theme/mixins';

.movies-feed {
  .container {
    max-width: 270px;
    margin-top: 45px;
    margin-left: -5px;
    margin-right: -5px;
    text-align: center;

    .grid-wrapper {
      margin: 0 25px;
      display: inline-block;
    }
  }

  .description-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .loading {
    @include golden-text;
  }
}

@media (min-width: 540px) {
  .movies-feed {
    .container {
      max-width: 540px;
    }
  }
}

@media (min-width: 810px) {
  .movies-feed {
    .container {
      max-width: 810px;
    }
  }
}

@media (min-width: 1080px) {
  .movies-feed {
    .container {
      max-width: 1080px;
    }
  }
}

@media (min-width: 1350px) {
  .movies-feed {
    .container {
      max-width: 1080px;
    }
  }
}

.dialog-responsive {
  width: 40%;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    width: 100%;
  }
}
