<div class="ml-shell" [class.--over-large-tablet]="!isMaxLargeTablet">
  <mat-toolbar>
    <ng-container *ngIf="isMaxLargeTablet; else desktopView">
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">Games</h1>
    </ng-container>

    <ng-template #desktopView>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
        <a
          class="game-category"
          *ngFor="let genre of movieGenres; index as i"
          [class.--active]="genre === activeGenre"
          [routerLink]="['/', codec.encodeValue(genre.name)]"
          fxLayout="row"
          fxLayoutAlign="center center"
          >{{ genre.name }}</a
        >
      </div>
    </ng-template>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="side" [fixedInViewport]="isMaxLargeTablet" fixedTopGap="50">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/', codec.encodeKey(genre.name)]" *ngFor="let genre of movieGenres; index as i">{{
          genre.name
        }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ml-movies-feed></ml-movies-feed>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
