<ng-container>
  <mat-progress-bar *ngIf="isLoading; else notLoading" mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #notLoading>
  <div class="progress-bar-shadow"></div>
</ng-template>
<div *ngIf="genres$ | async as genres" class="ml-shell" [class.--over-large-tablet]="!isMaxLargeTablet">
  <mat-toolbar>
    <ng-container>
      <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="title">
        <a href="/"> Movies </a>
      </h1>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="side" fixedTopGap="50">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/genre', codec.encodeKey(genre.name)]" *ngFor="let genre of genres; index as i">{{
          genre.name
        }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="ml-shell__nav">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
